In [271]:
import pandas as pd

In [272]:
df=pd.Timestamp.today()-pd.Timedelta(days=10)
df

Timestamp('2026-01-20 11:53:50.853581')

In [273]:
df1=pd.date_range(end=pd.Timestamp.today(),periods=10)
df1

DatetimeIndex(['2026-01-21 11:53:50.864821', '2026-01-22 11:53:50.864821',
               '2026-01-23 11:53:50.864821', '2026-01-24 11:53:50.864821',
               '2026-01-25 11:53:50.864821', '2026-01-26 11:53:50.864821',
               '2026-01-27 11:53:50.864821', '2026-01-28 11:53:50.864821',
               '2026-01-29 11:53:50.864821', '2026-01-30 11:53:50.864821'],
              dtype='datetime64[us]', freq='D')

In [274]:
today=pd.Timestamp.today().normalize()
today
df2=pd.date_range(end=today,periods=10)
df2

DatetimeIndex(['2026-01-21', '2026-01-22', '2026-01-23', '2026-01-24',
               '2026-01-25', '2026-01-26', '2026-01-27', '2026-01-28',
               '2026-01-29', '2026-01-30'],
              dtype='datetime64[us]', freq='D')

In [275]:
import pandas as pd

last_10_business_days = pd.date_range(
    end=pd.Timestamp.today(),
    periods=10,
    freq='B'
)

print(last_10_business_days)

DatetimeIndex(['2026-01-19 11:53:50.886414', '2026-01-20 11:53:50.886414',
               '2026-01-21 11:53:50.886414', '2026-01-22 11:53:50.886414',
               '2026-01-23 11:53:50.886414', '2026-01-26 11:53:50.886414',
               '2026-01-27 11:53:50.886414', '2026-01-28 11:53:50.886414',
               '2026-01-29 11:53:50.886414', '2026-01-30 11:53:50.886414'],
              dtype='datetime64[us]', freq='B')

In [276]:
import pandas as pd

last_10_business_hours = pd.date_range(
    end=pd.Timestamp.now(),
    periods=10,
    freq='h'
)

print(last_10_business_hours)

DatetimeIndex(['2026-01-30 02:53:50.894741', '2026-01-30 03:53:50.894741',
               '2026-01-30 04:53:50.894741', '2026-01-30 05:53:50.894741',
               '2026-01-30 06:53:50.894741', '2026-01-30 07:53:50.894741',
               '2026-01-30 08:53:50.894741', '2026-01-30 09:53:50.894741',
               '2026-01-30 10:53:50.894741', '2026-01-30 11:53:50.894741'],
              dtype='datetime64[us]', freq='h')

In [277]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

np.random.seed(1)

data = pd.DataFrame({
    "student_id": range(1, 301),
    "course_name": np.random.choice(
        ["Python", "Data Science", "ML", "Web Dev"], 300
    ),
    "progress_percent": np.random.randint(30, 101, 300),
    "completion_days": np.random.randint(10, 120, 300),
    "rating": np.random.randint(1, 6, 300)
})

data.head()

   student_id   course_name  progress_percent  completion_days  rating
0           1  Data Science                54               46       4
1           2       Web Dev                50               36       1
2           3        Python                74               42       3
3           4        Python                45               11       1
4           5       Web Dev                60               58       2

In [278]:
course_summary = data.groupby("course_name").mean()
course_summary

              student_id  progress_percent  completion_days    rating
course_name
Data Science  150.024096         66.108434        65.192771  3.132530
ML            152.758065         63.741935        64.177419  3.225806
Python        154.595238         64.523810        59.000000  2.904762
Web Dev       144.239437         62.887324        62.056338  3.183099

In [39]:
poor_courses = course_summary[course_summary["progress_percent"] < 70]

poor_courses

              student_id  progress_percent  completion_days    rating
course_name
Data Science  150.024096         66.108434        65.192771  3.132530
ML            152.758065         63.741935        64.177419  3.225806
Python        154.595238         64.523810        59.000000  2.904762
Web Dev       144.239437         62.887324        62.056338  3.183099

In [279]:
data.groupby("course_name")["completion_days"].mean()

course_name
Data Science    65.192771
ML              64.177419
Python          59.000000
Web Dev         62.056338
Name: completion_days, dtype: float64

In [291]:
d=np.random.randint(1, 10)
d

4

In [292]:
d1=np.random.seed(42)
d1=np.random.randint(1, 10)
d1

7